<div>
    <div>
    Lista de productos en tiempo real 
    <div id="contenido">
        <table border="1">
            <theader>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Thumbnails</th>
                </tr>
            </theader>
            <tbody id="lista">
                {{#each products}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.code}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.thumbnails}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
       

    </div>
    
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>